$themes: (
  purple: (
    backgroundColor: #6231aa,
  ),
  yellow: (
    backgroundColor: #ffff4e,
  ),
);

@mixin color-aware($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .#{$theme-name} {
      #{$key}: map-get(map-get($themes, $theme-name), $color);
      transition: background-color 2s ease-out;
    }
  }
}

@include color-aware('background-color', 'backgroundColor');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: background-color 2s ease-out;
}

.roll-button {
  animation: squish-die-in 7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  height: 30px;
  width: fit-content;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  color: #6231aa;
  font-size: 30px;
  line-height: 30px;
  // font-family: Futura;
  background: linear-gradient(45deg, #6934b6, #582c99);
  box-shadow: 9px -9px 18px #532a91, -9px 9px 18px #7138c4;
  text-shadow: 1px 2px 2px #532a91, -2px -1px 8px #7138c4;
  text-align: center;
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
}

.box {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.die {
  padding: 20px;
  margin: 20px;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  animation: squish-die-in 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  &.purple {
    background: linear-gradient(145deg, #582c99, #6934b6);
    box-shadow: 9px 9px 18px #532a91, -9px -9px 18px #7138c4;
  }
  &.yellow {
    background: linear-gradient(145deg, #ffff4e, #d7d942);
    box-shadow: 9px 9px 18px #cbcd3e, -9px -9px 18px #ffff54;
  }
}

.dot-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //   border: 1px solid red;
  &.one {
    &-1 {
      align-self: flex-end;
    }
  }
}

.dots-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.dot-one {
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  .dot {
    width: 80%;
    height: 80%;
    margin: 5px;
    border-radius: 50%;
    &.hide {
      animation: squish-dot-out 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    &.show {
      animation: squish-dot-in 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    &.purple {
      box-shadow: 9px 9px 18px #532a91, -9px -9px 18px #7138c4;
    }
  }
}

@keyframes squish-die-in {
  0% {
    box-shadow: 0 0 0 #532a91, 0 0 0 #7138c4;
    opacity: 0;
  }
  50% {
    box-shadow: 0 0 0 #532a91, 0 0 0 #7138c4;
    opacity: 0;
  }
  100% {
    box-shadow: 9px 9px 18px #532a91, -9px -9px 18px #7138c4;
    opacity: 1;
  }
}

@keyframes squish-dot-in {
  0% {
    box-shadow: 0 0 0 #532a91, 0 0 0 #7138c4;
    opacity: 0;
  }
  100% {
    box-shadow: 9px 9px 18px #532a91, -9px -9px 18px #7138c4;
    opacity: 1;
  }
}

@keyframes squish-dot-out {
  0% {
    box-shadow: 9px 9px 18p, -9px -9px 18px;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 #532a91, 0 0 0 #7138c4;
    opacity: 0;
  }
}
